body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
}

.pokemon {
  float:left;
  display:inline;
  width: 8rem;
  height: 12rem;
  padding: auto;
  margin: 1rem;
  border-radius: 15px;
  background: cornsilk;
}