.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.accordion-wrapper + * {
  margin-top: 0.5em;
}

.accordion-body {
  height: auto;
  text-align: left;
}

.accordion-title {
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  background: rgb(199, 198, 198);
  color: #666;
  padding: 0.5em 1.5em;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title:hover {
  color: black;
}

.accordion-content {
  padding: 1em 1.5em;
}

/* Overwrite default button style */
.accordion-title {
  background: white;
  width: 100%;
}

.accordion-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}

.accordion-title.open::after {
  content: "";
  border-top: 0;
  border-bottom: 5px solid;
}

/* Overwrite focus style if you don't like it! */
.accordion-title:focus {
  outline: 2px solid #284c4a;
  background: #fff7ee;
  color: black;
}

.accordion-title.open {
  color: black;
}
